body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px; /* Padding around content */
    max-width: 400px; /* Maximum width */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7.5px;
    margin-bottom: 10px;
}
.cell {
    background-color: rgb(107, 32, 255);
    border: 1px solid rgb(32, 255, 117);
    padding: 20px;
    font-size: 24px;
    cursor: crosshair;
}
.cell:hover {
    background-color: rgba(107, 32, 255,0.75);
}

h1 {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    cursor: pointer;
}
button:hover {
    background-color: #888;
}




